//- aside.col-sm-3.hide-for-small
.col-sm-3.hidden-sm
    img(src="http://placehold.it/300x440&text=[ad]").img-responsive
    img(src="http://placehold.it/300x440&text=[ad]").img-responsive
    img(src="http://placehold.it/300x440&text=[ad]").img-responsive
