include ../_mixin
footer: .row
  .col-sm-12
    hr
    .row
      .col-sm-5
        p © Copyright treeva digital studio

      .col-sm-7
        ul.list-inline.pull-right
          li: a(href="#") Link
          li: a(href="#") Link
          li: a(href="#") Link
          li: a(href="#") Link
